{% extends 'admin/base_admin.html.twig' %}
{% form_theme form _self %}
{% use "form/checkbox_radio_label.html.twig" %}

{% block title %}
    Galerie-Ajouter
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/gallery/gallery_add.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/gallery/gallery_add.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <main class="container">
        <header class="gallery-title">
            <h1>Ajouter une galerie</h1>
            <div>
                <a href="{{ path('app_gallery') }}" class="btn btn-primary btn-sm">Retour à mes Galeries</a>
            </div>
        </header>
        <section class="gallery-action">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.title) }}

            {{ form_row(form.description) }}

            <span class="d-block mb-2">Images</span>
            <button type="button" class="add_item_link btn btn-primary btn-sm" data-collection-holder-class="image_wrapper">Ajouter une image</button>
            <div class="images_feedback">
                {% if not form.images.vars.valid %}
                    {% set errors_message = []  %}
                    {%for error in form.images.vars.errors%}
                        {% set errors_message = errors_message|merge([error.message]) %}
                    {%endfor%}
                    {% for message in errors_message|reduce((unique, item) => item in unique ? unique : unique|merge([item]), []) %}
                        <div class="invalid-feedback d-block">{{message}}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="image_wrapper"
                data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_row(form.images.vars.prototype)|e('html_attr') }}"
            >
                {% for pictureField in form.images %}
                    {{ form_row(pictureField) }}
                {% endfor %}
            </div>

            {{ form_label(form.collection) }}
            {{ form_help(form.collection) }}
            {{ form_widget(form.collection) }}
            {{ form_errors(form.collection) }}

            <nav aria-label="Collection navigation">
                <ul class="pagination">
                </ul>
            </nav>

            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}