{% extends 'admin/base_admin.html.twig' %}
{% form_theme form _self %}
{% use "form/checkbox_radio_label.html.twig" %}

{% block title %}
    Galerie-Ajouter
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/component/collection_holder.js') }}" defer></script>
    <script src="{{ asset('js/component/tom_select.js') }}" defer></script>
{#    <script src="{{ asset('js/gallery/gallery_add.js') }}" defer></script>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/gallery/gallery_add.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <main class="container">
        <header class="gallery-title">
            <h1>Ajouter une galerie</h1>
            <div>
                <a href="{{ path('app_gallery') }}" class="btn btn-primary btn-sm">Retour à mes Galeries</a>
            </div>
        </header>
        <section class="gallery-action">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="form-grid">
                <div class="grid-item-left-first">
                    <div class="mb-3">
                        {{ form_label(form.title) }}
                        {{ form_help(form.title) }}
                        {{ form_widget(form.title) }}
                        {{ form_errors(form.title) }}
                    </div>
                </div>
                <div class="grid-item-left-last">
                    <div class="mb-3">
                        {{ form_label(form.tag) }}
                        {{ form_help(form.tag) }}
                        {{ form_widget(form.tag) }}
                        {{ form_errors(form.tag) }}
                    </div>
                    <div class="mb-0 state">
                        <span class="d-block mb-2">Visibilité</span>
                        {{ form_label(form.state) }}
                        {{ form_help(form.state) }}
                        {{ form_widget(form.state) }}
                        {{ form_errors(form.state) }}
                    </div>
                </div>


                <div class="grid-item-right">
                    <div class="thumbnail-wrapper target-preview">
                        <span class="d-block mb-2">Images à la une *</span>
                        {% for thumbnail in form.thumbnail.children %}
                            {{ form_help(thumbnail) }}
                            {{ form_widget(thumbnail) }}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <span class="d-block mb-2">Images</span>
            <button type="button" class="add_item_link btn btn-primary btn-sm" data-collection-holder-class="uploads_wrapper">Ajouter une image</button>
            <div class="uploads_wrapper"
                data-index="{{ form.uploads|length > 0 ? form.uploads|last.vars.name + 1 : 0 }}"
                data-prototype="{{ (form_widget(form.uploads.vars.prototype)~form_label(form.uploads.vars.prototype))|e('html_attr') }}"
            >
                {% for uploadField in form.uploads %}
                    {{ form_row(uploadField) }}
                {% endfor %}
            </div>

            <div class="pictures mt-3">
                {{ form_label(form.pictures) }}
                {{ form_help(form.pictures) }}
                {{ form_widget(form.pictures) }}
                {{ form_errors(form.pictures) }}
            </div>

            {{ form_end(form) }}
        </section>
    </main>

    <template id="template-default-image">
        <img src="{{ asset('images/default-image.jpg') }}" alt="default_img" class="default_img">
    </template>
{% endblock %}