{% extends 'admin/base_admin.html.twig' %}
{% form_theme form _self %}
{% use "form/checkbox_radio_label.html.twig" %}

{% block title %}
    Galerie-Ajouter
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/component/collection_holder.js') }}" defer></script>
    <script src="{{ asset('js/component/pagination.js') }}" defer></script>
    <script src="{{ asset('js/gallery/gallery_add.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/gallery/gallery_add.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <main class="container">
        <header class="gallery-title">
            <h1>Ajouter une galerie</h1>
            <div>
                <a href="{{ path('app_gallery') }}" class="btn btn-primary btn-sm">Retour à mes Galeries</a>
            </div>
        </header>
        <section class="gallery-action">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="form-grid">
                {{ form_row(form.title) }}
                {{ form_row(form.tag) }}

                <div class="item_cover">
                    <span class="d-block mb-2">Images à la une *</span>
                    {{ form_help(form.cover) }}
                    {{ form_label(form.cover) }}
                    {{ form_widget(form.cover) }}
                    {{ form_errors(form.cover) }}
                </div>

                {{ form_row(form.published) }}
            </div>

            <span class="d-block mb-2">Images</span>
            <button type="button" class="add_item_link btn btn-primary btn-sm" data-collection-holder-class="image_wrapper">Ajouter une image</button>
            <div class="image_wrapper"
                data-index="{{ form.uploads|length > 0 ? form.uploads|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_row(form.uploads.vars.prototype)|e('html_attr') }}"
            >
                {% for uploadField in form.uploads %}
                    {{ form_row(uploadField) }}
                {% endfor %}
            </div>

            {{ form_label(form.pictures) }}
            {{ form_help(form.pictures) }}
            {{ form_widget(form.pictures) }}
            {{ form_errors(form.pictures) }}

            <nav aria-label="Collection navigation">
                <ul class="pagination">
                </ul>
            </nav>

            {{ form_end(form) }}
        </section>
    </main>

    <template id="template-default-image">
        <img src="{{ asset('images/default-image.jpg') }}" alt="default_img" class="default_img">
    </template>
{% endblock %}